@charset "UTF-8";

/*!
Theme Name: Simplicity2 child
Template:   simplicity2
Version:    20171214
*/

/* Simplicity子テーマ用のスタイルを書く */
/************************************
** アンカー
************************************/
a {
  color: #0000ff;
  text-decoration:none;
}

a:hover {
  color: auto;
  text-decoration:underline;
}

.countdown {
 color: #555;
}


a:visited {
  color: #660099;
}

a:active {
  color: #660099;
}

/************************************
** メルマガフォーム
************************************/
body{
	margin:0px;
}
#mailmagazine_form{
	margin:10px;
}
#sidebar .ms_form_box{
	font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
	width:100%;
	height:auto;
	padding:0px;
	margin:12px auto;
	background:#FFFFFF;
}
.ms_form_box *{
        box-sizing:border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
}
.ms_form_header{
	width:100%;
	font-size:14px;
	font-weight:bold;
	color:#FFFFFF;
	padding:0px;
	margin:0px;
	text-align:center;
	background: url(/wp-content/themes/simplicity2-child/images/mailmagazine_head2.png) center center/100% no-repeat #0064BE;
        text-indent:-9999px;
        height:56px;
}
.ms_form_header img{
        vertical-align:bottom;
}
@media screen and (max-width: 1110px) {
.ms_form_header{
        background:url(/wp-content/themes/simplicity2-child/images/mailmagazine_head.png) center center no-repeat #0064BE;
        height:100px;
}
#sidebar .ms_form_catch_image img{
    max-width:60%;
}
}

.ms_form_footer{
	width:100%;
	height:28px;
	line-height:28px;
	font-size:11px;
	padding:0px;
	margin:0px;
	text-align:left;
	color:#666666;
	border:solid 1px #c0c0c0;
	background-image : url('http://webmarketing-skillup-com.y-ml.com/img/ms_cp_capbg0.gif');
	background-repeat: repeat-x;
	background-position: 0px 0px;
}
.ms_form_footer .copy{
	float:left;
	margin:0px 0px 0px 16px;
	padding:0px;
}
.ms_form_footer .powered_by{
	float:right;
	margin:0px 16px 0px 0px;
	padding:0px;
	text-align:right;
}
.ms_form_footer a:link,
.ms_form_footer a:visited{
	color:#666666;
	text-decoration:none;
}
.ms_form_body{
	width:100%;
	height:auto;
	font-size:12px;
	text-align:center;
	padding:15px 5% 0px;
	margin:0px;
	border-style:none solid solid solid;
	border-width:1px;
	border-color:#c0c0c0;
	overflow:hidden;
}
#sidebar .ms_form_catch{
    text-align: center;
}
#sidebar  .ms_form_body ul.form_list{
	width:100%;
	list-style:none;
	clear:both;
	margin:0px auto;
	padding:0px;
	text-align:left;
}
#sidebar .ms_form_body ul.form_list li{
	margin:0;
}
#sidebar .ms_form_body ul.form_list li.item{
	clear:both;
	width:100%;
	vertical-align:top;
	padding:10px 0px 0px 22px;
	background-image : url('http://webmarketing-skillup-com.y-ml.com/img/ms_cp_icon_circle_right.gif');
	background-repeat: no-repeat;
	background-position: 0px 10px;
	border:none;
	float:left;
}
#sidebar .ms_form_body ul.form_list li.item-nofloat{
	clear:both;
	width:100%;
	vertical-align:top;
	padding:10px 0px 0px 22px;
	background-image : url('http://webmarketing-skillup-com.y-ml.com/img/ms_cp_icon_circle_right.gif');
	background-repeat: no-repeat;
	background-position: 0px 10px;
	border:none;
}
#sidebar .ms_form_body ul.form_list li.cont{
	width:100%;
	padding:8px 0px 0px 0px;
	border:none;
	float:left;
}
#sidebar .ms_form_body ul.form_list li.cont-nofloat{
	clear:both;
	width:100%;
	padding:4px 0px 4px 2px;
	border:none;
}
#sidebar .ms_form_body ul.form_list li.cont .text{
	width:100%;
	height:22px;
        line-height:22px;
	font-size:12px;
	padding:3px;
	background-color:#FAFFBD;
	border:solid 1px #c0c0c0;
    border-radius:0px;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
}
#sidebar .ms_form_body ul.form_list li.cont .text80{
	width:100%;
	height:16px;
	font-size:12px;
	padding:3px;
	background-color:#f9f9f9;
	border:solid 1px #c0c0c0;
}
#sidebar .ms_form_body ul.form_list li.cont .sel{
	width:100%;
	height:24px;
	font-size:12px;
	padding:3px;
	background-color:#f9f9f9;
	border:solid 1px #c0c0c0;
}
#sidebar .ms_form_body ul.form_list li.cont .sel_auto{
	width:auto;
	height:24px;
	font-size:12px;
	padding:3px;
	background-color:#f9f9f9;
	border:solid 1px #c0c0c0;
}
.ms_form_body .ta{
	width:100%;
	font-size:12px;
	padding:3px;
	background-color:#f9f9f9;
	border:solid 1px #c0c0c0;
}
#sidebar .ms_form_body ul.form_list li.cont span.cont_desc,
#sidebar .ms_form_body ul.form_list li.cont-nofloat span.cont_desc{
	font-size:10px;
	color:#4f4f4f;
	margin:0px;
}
.ms_form_body div.submit_btn{
	clear:both;
	text-align:center;
}
input[type="submit"].ms_form_btn{
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	cursor:pointer;
	border:0px;
	background : #428BCA;
	width:165px;
	height:30px;
        border-radius: 3px;
}
.clearfix{
	zoom:1;
}
.clearfix:after{
	content:"";
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
}


.countdown:before{
 content: url('images/clock.png');
 margin-right: 3px;
 vertical-align:-2px;
}
 
.time {
 margin: 7px 0;
}

.post-meta {
    margin-bottom: 0.4em;
    font-size: 13px;
}
#sidebar aside{
    border: 1px solid #D8D8D8;
    padding: 1px;
}
#sidebar ul, #sidebar ol, .widget-over-article ul, .widget-over-article ol, .widget-under-article ul, .widget-under-article ol, .widget-over-sns-buttons ul, .widget-over-sns-buttons ol, .widget-under-sns-buttons ul, .widget-under-sns-buttons ol {
    padding: 0 1em;
    list-style: none;
}
.widget_search{
    background: #F8F8F8;
}
.widget_search table{
    width:100%;
}
#sidebar .widget_new_entries ul{
	margin:10px;
	padding:0;
}
#sidebar h3.sidebar_widget_title {
    padding: 0 10px;
    margin:0;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    color: #444444;
    background: #EFEFEF;
    font-size:16px;
}

#searchform {
    margin:10px;
}
.submit_search_td{
	width: 30px;
}
input[type="text"]#s {
	margin: 0;
	display:block;
	padding: 6px 3px;
	background-color: #FAFFBD;
}
input[type="image"]#searchsubmit {
    position: static;
    width: 18px;
    height:19px;
    margin:0;
	padding:5px 8px;
	-moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
	background:-moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d',GradientType=0);
	background-color:#fc8d83;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
	display:block;
}
input[type="image"]#searchsubmit:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83));
	background:-moz-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-webkit-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-o-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-ms-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83',GradientType=0);
	background-color:#e4685d;
}
input[type="image"]#searchsubmit:active {
	position:relative;
	top:1px;
}

#main_outer{
    float: left;
    box-sizing: border-box;
    width: 740px;
}
#main {
    width: 740px;
    padding: 20px 29px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 30px;
}
.widgets ul{
	list-style-type:none;
	padding: 0;
}
#wp-cumulus embed{
	margin-top:-20px;
	margin-bottom:-30px;
}
#wp-cumulus > div p:nth-child(2){
	display:none;
}
.widget-home-bottom-title {
    line-height: 130%;
    color: #333;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

#pickup_area{
	border:1px solid #D8D8D8;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	overflow:hidden;
	margin-bottom:15px;
}
#pickup_area h2{
	font-size:18px;
	font-weight:bold;
	padding: 3px 10px 0px;
	margin:2px  2px 0px 2px;
	line-height: 30px;
	color: #444444;
	background: #EFEFEF;
}
#pickup_area p{
	margin:0;
}
#pickup_area div{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
#pickup_area .first, #pickup_area .second{
	width:50%;
	float:left;
	padding:5px 5px 5px 15px;
}
#pickup_area .second p + p{
	margin-top:5px;
}
@media screen and (max-width: 640px) {
#pickup_area .first, #pickup_area .second{
	width:100%;
	float:none;
	padding:5px 10px;
}
}
